<%= form_for :task do |task| %>
  <p>
    <%= task.label :id %><br>
    <%= task.text_field :id, :value => @next_task.id %>
  </p>
  <p>
    <%= task.label :title %><br>
    <%= task.text_field :title, :value => @next_task.title %>
  </p>
  <p>
    <%= task.label :description %><br>
    <%= task.text_field :description, :value => @next_task.description %>
  </p>
  <p>
    <%= task.submit %>
  </p>
<% end %>
