<%= form_for :task do |task| %>
  <p>
    <%= task.label :id %><br>
    <%= task.text_field :id %>
  </p>
  <p>
    <%= task.label :title %><br>
    <%= task.text_field :title %>
  </p>
 
  <p>
    <%= task.label :description %><br>
    <%= task.text_area :description %>
  </p>
  <p>
    <%= task.submit %>
  </p>
<% end %>
